VITE_OBJECT_ID=0x_your_storage_unit_id
VITE_EVE_WORLD_PACKAGE_ID=0x28b497559d65ab320d9da4613bf2498d5946b2c0ae3597ccfda3072ce127448c
VITE_CORP_HANGAR_PACKAGE_ID=0x_your_corp_hangar_package_id
VITE_CORP_HANGAR_ORIGINAL_ID=0x_your_corp_hangar_original_id
VITE_CORP_CONFIG_ID=0x_your_corp_config_id
VITE_SUI_GRAPHQL_ENDPOINT="https://graphql.testnet.sui.io/graphql"
VITE_ADMIN_PRIVATE_KEY=
VITE_ADMIN_CAP_ID=0x_your_admin_cap_id
VITE_API_URL=http://localhost:3001
