SUI_NETWORK=testnet
ADMIN_ADDRESS=0x_your_admin_wallet_address
SPONSOR_ADDRESSES=
ADMIN_PRIVATE_KEY=suiprivkey1_your_private_key_here
PLAYER_A_PRIVATE_KEY=
PLAYER_B_PRIVATE_KEY=
WORLD_PACKAGE_ID=0x28b497559d65ab320d9da4613bf2498d5946b2c0ae3597ccfda3072ce127448c
BUILDER_PACKAGE_ID=0x_your_corp_hangar_package_id
EXTENSION_CONFIG_ID=0x_your_corp_config_id
ADMIN_CAP_ID=0x_your_admin_cap_id
TENANT=dev
